
<div class="container-lg pt-5" *ngIf=" user | async as user; else landing">
    <div class="row">

        <div class="col-md-3">
            <app-new-note></app-new-note>
        </div>

        <div class="col-md-9">
            <app-notes></app-notes>
        </div>

    </div>
</div>

<ng-template #landing>
    <div class="container">
        <div class="row custom-section d-flex align-items-center">
            <div class="col-12 col-lg-4">
                <h2>Alumns Registration</h2>
                <h3>On-line!</h3>
                <p>Create, Read, Update, And Delete a list 
                of all of your Alumns.
                Simple, Easy and Fast!.</p>
                <a class="btn-success" [routerLink]="['/LogingHome']">Lets get Started!</a>
            </div>

            <div class="col-12 col-lg-8">
                <img src="assets/images/mainbenner.png" alt="Team process banner">
            </div>
        </div>
    </div>
</ng-template>